<a href="/email">email</a>
<form method="post" action="" >
    <p><label for="name">Name</label><input type="text" name="name"></p>
    <p><label for="company">Company</label><input type="text" name="company"></p>
    <p><label for="email">Email Address</label><input type="email" name="email"></p>
    <p><label for="number">Phone Number</label><input type="tel" name="number"></p>
    <p><label for="message">Email Message</label><textarea name="message" id="" cols="10" placeholder="Enter your message here"></textarea></p>
    <p><button type="submit">Send Message</p>
</form>